/* cem.css */
body {  background: white; 
	margin: 1em;
	}

h1 {
	margin-top: 18pt; 
	font-family: sans-serif; 
	font-size 18pt; }

h2 {
    color: blue; 
    font-family: sans-serif;
}
h3 {    
    color: blue; 
    font-family: sans-serif;
    font-style: italic; 
    border-style: dashed;
    border-width: medium; 
    text-align: center;
}
a  {color: red;}
li a {color: green;}

.snm { color: red }

.yr  { color: green }

.inscrip { 
	margin: 2em;
}

.panzoom-parent { border: 2px solid #333; }
.panzoom-parent .panzoom { border: 2px dashed #666; }
.buttons { margin: 40px 0 0; }

span.toc {
    background: #F5FCFF; 
    border: solid black 1pt;
    padding: 2pt;
    margin-right: 2pt;
}
span.toc a {
    color: #333666;
    text-decoration: none;
}

table.inscrip {
    background: #F5FCFF; 
    padding: 2pt;
    margin: 2pt;
}


td.num {
    width: 15px;
    }

div.displaystone {
    margin-top: 30px;
    float: right;
    width: 47%;
}

div.cat {
    width: 47%;
    float: left;
}

div.map {
    padding: 0px;
    margin: 0px;
    background-color: white;
    clear: both; 
}

div.footer {
    clear: both;
}

#main {
    padding-left: 10px;
    background-color: white;
    border: solid green 1pt;
}

span.numlink, span.numlink2, span.numlink3 {
    text-decoration: underline;
}
td {
    vertical-align: top;
}
div.tabs {
    background-color: white;
}

h1.maintitle {
    height: 100px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("banner.jpg") ;
}

span.maplink:before {
    content: " See "
}
span.maplink:after {
    content: " on map ";
}
span.maplink {
    margin-left: 6px;
    background-color: #E7FFD4;
}