/* cem.css */
body {  background: white; 
	margin: 1em;
	}

h1 {
	margin-top: 18pt; 
	font-family: sans-serif; 
	font-size: 2em; }

h2 {
    color: blue; 
    font-family: sans-serif;
}
h3 {    
    color: blue; 
    font-family: sans-serif;
    font-style: italic; 
    border-style: dashed;
    border-width: medium; 
    text-align: center;
}
a  {color: red;}
li a {color: green;}

.snm { color: red }

.yr  { color: green }

.inscrip { 
	margin: 2em;
}

.panzoom-parent { border: 2px solid #333; }
.panzoom-parent .panzoom { border: 2px dashed #666; }
.buttons { 

}

span.toc {
    background: #F5FCFF; 
    border: solid black 1pt;
    padding: 2pt;
    margin-right: 2pt;
}
span.toc a {
    color: #333666;
    text-decoration: none;
}

table.inscrip {
    background: #F5FCFF; 
    padding: 2pt;
    margin: 2pt;
}

table#stones {
    clear: both;
}

table.simplestones {
    width: 100%;
}

table.stones th, table.simplestones th { cursor: pointer }

td.num {
    width: 15px;
    }

div#stone {
    background-color: #eee;
    float: right;
    margin-bottom: 20px;
    padding: 10px;
    width: 47%;
}

div#cat { 
    width: 90%;
}

div.map {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;     
    margin-bottom: 0px;
    padding: 0px;
    width: 97%;
    background-color: white;
    height: 4in;
    clear: both; 
}
div.buttons{
    float: left;
    clear: both;
}
div.footer {
    clear: both;
    float: left;
    margin-top: 50px;
    width: 100%;
}

#main {
    padding-left: 10px;
    background-color: white;
    border: solid #ccc 1pt;
}

span.numlink, span.numlink2, span.numlink3 {
    text-decoration: underline;
    cursor: pointer;
}
td {
    vertical-align: top;
}
div.maindisplay {
    width: 47%;
    float: left;
    clear: both;
    margin-bottom: 50px;
    min-height: 500px;
}

h1.maintitle {
    height: 100px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("banner.jpg") ;
}
svg {
    padding: 0px;
    margin: 12px;
} 
 text { font-size: 50%; font-family: Courier; font-weight: normal; }

 g    { 
     stroke:black; fill:none; stroke-width: 1px; 
 }

 polygon.stone {
     fill:#F5FCFF;
}
 rect.invisible {
    stroke: black; 
    fill: none;
 }

 .outline { }
