/* cem.css */
body {  background: white; 
	margin: 1em;
	}

h1 {
	margin-top: 18pt; 
	font-family: sans-serif; 
	font-size 18pt; }

h2 {
 color: blue; 
 font-family: sans-serif;
	}
h3 {    
	color: blue; 
	font-family: sans-serif;
	font-style: italic; 
	border-style: dashed;
	border-width: medium; 
	text-align: center;
	}
a  {color: red;}
li a {color: green;}


.snm { color: red }

.yr  { color: green }

.inscrip { 
	margin: 2em;
}

/* */
